json
ArquivoExcel
ComandosGitBash/ExportedFiles
*.txt
PowerShell/ScanDir/files/Material de apoio
Python/MakeMp3/audios
Python/MakeMp3/textos.json
Python/MakeVideo/20251106_WordBank/
Python/MakeVideo/temp/
*.mp4
Python/MakeVideo/20251107_JobInterview_WordBank/
Python/MakeVideo/20251107_KNN/
Python/GroqIA/output/
Python/MakeVideo/google-tts.json
Python/youtube-upload/token.json
Python/youtube-upload/token.json
Python/MakeVideo/Content/
Python/ContentFabric/youtube-upload/client_secret.json
Python/ContentFabric/youtube-upload/token.json
Python/ContentFabric/ContentToCreate/
Python/ContentFabric/google-tts.json
Python/ContentFabric/5youtube-upload/token.json
Python/ContentFabric/3MakeVideo/google-tts.json
Python/ContentFabric/5youtube-upload/client_secret.json
Python/ContentFabric/1GroqIA_WordBank/2ContentToCreate/
Python/Gemini/MakeVideoGemini/outputs/
Python/Gemini/MakeVideoGemini/__pycache__
Python/Gemini/MakeVideoGemini/__pycache__/gemini_config.cpython-312.pyc
Python/Gemini/MakeVideoGemini/__pycache__/generate_image.cpython-312.pyc
Python/Gemini/MakeVideoGemini/__pycache__/gemini_config.cpython-312.pyc
Python/Gemini/MakeVideoGemini/__pycache__/generate_audio.cpython-312.pyc
Python/Gemini/MakeVideoGemini/__pycache__/generate_image.cpython-312.pyc
Python/Gemini/MakeVideoGemini/__pycache__/generate_script.cpython-312.pyc
Python/Gemini/MakeVideoGemini/__pycache__/generate_video.cpython-312.pyc
Python/ContentFabric/4GroqIA/output/
PowerShell/output/
Python/AI_EnglishHelper/CreateLater.json
